.myBar {
  position: relative;
}

.searchAndSort {
  position: absolute;
  left: 89px;
}

.form_control {
  width: 300px;
  height: 35px;
  border-radius: 50px;
  margin-left: 50px;
}

.btn {
  border: 1px solid grey;
}

.btn-cart {
  border: none;
  text-align: center;
}

.btnLogin,
.btnSignIn {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 25px;
  background-color: #db3022;
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.btnSignIn {
  color: #db3022;
  background-color: white;
  border: 1px solid #9b9b9b;
}

@media screen and (max-width: 442px) {
  .form_control {
    width: 150px;
    height: 35px;
    border-radius: 50px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .searchAndSort {
    left: 0px;
  }
  .form_control {
    /* width: 250px;
      height: 35px;
      border-radius: 50px; */
    margin-left: 0px;
  }
  .navbar_brand {
    display: none !important;
    background-color: red;
  }
}

@media screen and (min-width: 1199px) {
  .form_control {
    width: 500px;
    height: 45px;
    border-radius: 50px;
    margin-left: 50px;
  }
}
