h4 {
  color: #db3022;
}

.role {
  margin: 0;
  padding: 0;
}

.btn-group {
  border: 1px solid #db3022;
}

.cs {
  width: 123px;
  height: 48px;
  background-color: #db3022;
  color: white;
}

.sl {
  color: #db3022;
  width: 123px;
  height: 48px;
  background-color: white;
  color: red;
}

.btnSubmit {
  background-color: #db3022;
  height: 48px;
  border-radius: 25px;
  border: none;
  color: white;
}

/* #register {
  color: #db3022;
} */
